.examples {
    padding: 80px 40px 40px;
    text-align: center;
    background-color: #F0F0F0;
}

.examples > h1 {
    margin-bottom: 20px;
}

.examples__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.examples__category {
    flex-basis: 25%;
    /* width: 25%; */
    margin-bottom: 40px;
    padding: 8px;
}

.examples__category > img {
    max-height: 150px;
    object-fit: contain;
}

.examples__category > h4 {
    font-weight: 400;
}

@media (max-width: 768px) {
    .examples__category {
        flex-basis: .50;
        width: 50%;
     }
}

@media (max-width: 520px) {
    .examples > h1 {
        font-size: 18px;
    }

    .examples__category {
       width: 50%;
    }

    .examples__category > img {
        max-height: 100px;
    }

    .examples__category > h4 {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .examples__category > img {
        max-height: 80px;
    }
}